{% extends "layout.html" %}

{% block title %}
    Cart
{% endblock %}

{% block main %}
<div class = "small-container">
    <div class = "row">
        <div class = "col-5">
            <img src = "{{'../static/profile_pics/' ~ product_row[0]['image'] }}" width = "100%">
        </div>
        <div class = "col-1">

        </div>
        <div class = "col-5">
            <br>
            <h1> {{product_row[0]['name']}} </h1>
            <br>
            <h6> Price: {{product_row[0]['price']|usd}} </h6>
            <h6> Category: {{product_row[0]['type']}} </h6>
            <h6> College/University: {{product_row[0]['university']}} </h6>
            <h6> Seller Address: {{product_row[0]['address']}} </h6>
            <form action="/cart" method="post" class = "col-4">
                <input name="product_id" type="hidden" value="{{ product_row[0]['id'] }}">
                <button class="btn btn-outline-danger btn-rounded btn-sm" type="submit" name="add">Add to Cart</button>
            </form>
            <br>
            <br>
            <h3>Product Details</h3>
            <p>{{product_row[0]['description']}}</p>
        </div>
    </div>
</div>
{% endblock %}