{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

<div>
    <form action="" method = "POST" enctype = "multipart/form-data">
    <div class="form-group">
        <label for="product_name">Product Name</label>
        <input type="text" class="form-control" name="product_name" placeholder="Product Name">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" name="price" placeholder="Price" step="0.01">
    </div>
    <div>
        <label for="product_type">Product Type</label>
        <select multiple class="form-control" name="product_type">
        <option>Furniture</option>
        <option>Foods</option>
        <option>Books</option>
        <option>Kitchen</option>
        <option>Others</option>
        </select>
    </div>
    <div class="form-group">
        <label for="university">University</label> <br>
        <input type="text" id="university" name = "university" placeholder="university/college" autocomplete = "off" autofocus >
        <ul id = "list"></ul>
        <script>
                let input = document.querySelector('#university');
                input.addEventListener('input', async function(){
                    let response = await fetch('/searchuniversity?q=' + input.value);
                    let university = await response.json();
                    let html_title = '';
                    let html_address = '';

                    for (let id in university){
                        let title = university[id].name;
                        let address = university[id].address;
                        html_title += '<li>' + title + '</li>';
                        html_address  += '<li>' + address + '</li>';
                    }
                    document.querySelector('#list').innerHTML = html_title;
                    document.querySelector('#listaddress').innerHTML = html_address;
                });
        </script>
    </div>

    <div class="form-group">
        <label for="address">Address for University</label> <br>
        <input type="text" id="address" name = "address" placeholder="Address" autocomplete = "off" autofocus >
        <ul id = "listaddress"></ul>
        <script>
                let input = document.querySelector('#address');
                input.addEventListener('input', async function(){
                    let response = await fetch('/searchaddress?q=' + input.value);
                    let university = await response.json();
                    let html = '';

                    for (let id in university){
                        let title = university[id].address;
                        html += '<li>' + title + '</li>';
                    }
                    document.querySelector('#list').innerHTML = html;
                });
        </script>
    </div>

    <div class="form-group">
        <label for="description">Product Description</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
    </div>

    {{ form.csrf_token }}
    <div>
        {{form.picture.label()}}
        {{form.picture(class="form-control-file")}}
        {% if form.picture.errors%}
            {%for error in form.picture.errors%}
                <span class = 'text-danger'>{{error}}</span><br>
            {% endfor%}
        {% endif%}
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
    </form>
</div>


{% endblock %}